.container{
	padding: 20px;
}

.form_container {
    width: 405px;
    background-color: whitesmoke;
    height: 150px;
    padding: 30px;
    margin: 0 auto;
	display: table;
}

.app_title {
    margin: 0 auto;
    width: 143px;
	height: 49px;
}

.app_title h4, .app_title img{
	float: left;
	margin-right:5px;
}

.form_container a {
    float: right;
	margin-left: 10px;
}

.logout{
	float: right;
}

.link{
	color: #000;
}

.icon{
	font-size: 28px; 
	margin-bottom: 16px; 
	vertical-align: center;
	color: #000;
}

.icon:hover{
	color:#2BA6CB;
}

#file_to_upload{
    margin-top: 55px;
}

#upload_response{
    margin-top: 10px;
}

.login_links{
	color: red;
}