.container{
	padding: 20px;
}

.form_container {
    width: 405px;
    background-color: whitesmoke;
    height: 150px;
    padding: 30px;
    margin: 0 auto;
	display: table;
}

.app_title {
    margin: 0 auto;
    width: 143px;
	height: 49px;
}

.app_title h4, .app_title img{
	float: left;
	margin-right:5px;
}

.form_container a {
    float: right;
	margin-left: 10px;
}

.logout{
	float: right;
}

.link{
	color: #000;
}

.icon{
	font-size: 28px; 
	margin-bottom: 16px; 
	vertical-align: center;
	color: #000;
}

.icon:hover{
	color:#2BA6CB;
}

#file_to_upload{
    margin-top: 55px;
}

#upload_response{
    margin-top: 10px;
}

.login_links, .logout_links{
	color: red;
}

#ajaxloader {
    position: absolute;
    top: 6%;
    right: 50%;
}

.blurout {
    opacity: 0.8;
    background-color: grey;
}

.large-icons{
    font-size: 100px;
}

.large-icons:hover{
    color:#2BA6CB;
}

.tumblr_posttypes li{
    list-style:none;
    float: left;
    margin-left: 12px;
}

.tumblr_posttypes li p { 
    font-size: 12px; 
    font-style: normal;
    margin-left: 33px;
    margin-top: -25px;
}

.enabled_icons{
    color:#2BA6CB;
}