.container{
	padding: 20px;
}

.form_container {
    width: 405px;
    background-color: whitesmoke;
    height: 150px;
    padding: 30px;
    margin: 0 auto;
	display: table;
}

.app_title {
    margin: 0 auto;
    width: 143px;
	height: 49px;
}

.app_title h4, .app_title img{
	float: left;
	margin-right:5px;
}

.form_container a {
    float: right;
	margin-left: 10px;
}

.logout{
	float: right;
}